Notes - MVVM/Notes/Service References/NotesServiceReference/NotesService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NotesService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="tcpLoginService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="tcpNotesDataService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8084/NotesService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8084/NotesService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8084/NotesService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Server.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILoginService_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="ILoginService_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="ILoginService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="INotesDataService_GetLastNotesByCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLastNotesByCount" />
  </wsdl:message>
  <wsdl:message name="INotesDataService_GetLastNotesByCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLastNotesByCountResponse" />
  </wsdl:message>
  <wsdl:message name="INotesDataService_GetLastNotesByDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLastNotesByDate" />
  </wsdl:message>
  <wsdl:message name="INotesDataService_GetLastNotesByDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLastNotesByDateResponse" />
  </wsdl:message>
  <wsdl:message name="INotesDataService_AddNote_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNote" />
  </wsdl:message>
  <wsdl:message name="INotesDataService_AddNote_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNoteResponse" />
  </wsdl:message>
  <wsdl:message name="INotesDataService_DeleteNote_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteNote" />
  </wsdl:message>
  <wsdl:message name="INotesDataService_DeleteNote_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteNoteResponse" />
  </wsdl:message>
  <wsdl:message name="INotesDataService_EditNote_InputMessage">
    <wsdl:part name="parameters" element="tns:EditNote" />
  </wsdl:message>
  <wsdl:message name="INotesDataService_EditNote_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditNoteResponse" />
  </wsdl:message>
  <wsdl:portType name="ILoginService">
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/Register" message="tns:ILoginService_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/RegisterResponse" message="tns:ILoginService_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/Login" message="tns:ILoginService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/LoginResponse" message="tns:ILoginService_Login_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="INotesDataService">
    <wsdl:operation name="GetLastNotesByCount">
      <wsdl:input wsaw:Action="http://tempuri.org/INotesDataService/GetLastNotesByCount" message="tns:INotesDataService_GetLastNotesByCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotesDataService/GetLastNotesByCountResponse" message="tns:INotesDataService_GetLastNotesByCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLastNotesByDate">
      <wsdl:input wsaw:Action="http://tempuri.org/INotesDataService/GetLastNotesByDate" message="tns:INotesDataService_GetLastNotesByDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotesDataService/GetLastNotesByDateResponse" message="tns:INotesDataService_GetLastNotesByDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNote">
      <wsdl:input wsaw:Action="http://tempuri.org/INotesDataService/AddNote" message="tns:INotesDataService_AddNote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotesDataService/AddNoteResponse" message="tns:INotesDataService_AddNote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteNote">
      <wsdl:input wsaw:Action="http://tempuri.org/INotesDataService/DeleteNote" message="tns:INotesDataService_DeleteNote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotesDataService/DeleteNoteResponse" message="tns:INotesDataService_DeleteNote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditNote">
      <wsdl:input wsaw:Action="http://tempuri.org/INotesDataService/EditNote" message="tns:INotesDataService_EditNote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotesDataService/EditNoteResponse" message="tns:INotesDataService_EditNote_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="tcpLoginService" type="tns:ILoginService">
    <wsp:PolicyReference URI="#tcpLoginService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Register">
      <soap12:operation soapAction="http://tempuri.org/ILoginService/Register" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/ILoginService/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="tcpNotesDataService" type="tns:INotesDataService">
    <wsp:PolicyReference URI="#tcpNotesDataService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetLastNotesByCount">
      <soap12:operation soapAction="http://tempuri.org/INotesDataService/GetLastNotesByCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastNotesByDate">
      <soap12:operation soapAction="http://tempuri.org/INotesDataService/GetLastNotesByDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNote">
      <soap12:operation soapAction="http://tempuri.org/INotesDataService/AddNote" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteNote">
      <soap12:operation soapAction="http://tempuri.org/INotesDataService/DeleteNote" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditNote">
      <soap12:operation soapAction="http://tempuri.org/INotesDataService/EditNote" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NotesService">
    <wsdl:port name="tcpLoginService" binding="tns:tcpLoginService">
      <soap12:address location="net.tcp://localhost:8082/NotesService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8082/NotesService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>САША-ПК\Alex</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="tcpNotesDataService" binding="tns:tcpNotesDataService">
      <soap12:address location="net.tcp://localhost:8081/NotesService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8081/NotesService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>САША-ПК\Alex</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>